/* styles for the entire website */

body {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

/* navigation bar */
.links {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.links a:hover {
    background: #ddd;
    color: black;
  }
.links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .container {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
  }