/* styles for the entire website */

body {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
   
    background-image: url(/images/front\ page\ image.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    border: 5px;
    border-style: solid;
    border-color: black;
    /*background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(155, 74, 112));*/
    background-color:rgb(202, 214, 212) ;
    background-repeat: no-repeat;
    height: 100%ß;
    background-size: 500, 500;
    text-align: center;
    opacity: 75%;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}


/* navigation bar */
.links {
  overflow: hidden;
  background-color: #333;
  opacity: 75%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
}

.links li{
  width: 50px;
  height: 50px;
  display: inline;
}

.links li img {
  height: 40px;
  width: 40px;
  padding-top: 0;
}

.links a:hover {
    background: #ddd;
    color: black;
  }
.links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

   form label, input, textarea {
    display: block;
    text-align: left;
    }

  form {
    padding: 40px;
    
  }


